
img.logo__img {
    height: 60px;
}

svg.svg-inline--fa.fa-headset.fa-w-16 path {
    fill: #000;
}

.page-header-bottom__left svg.svg-inline--fa.fa-headset.fa-w-16 path {
    fill: #fd8a37;
}

.page-header-bottom__right .uk-navbar-nav > li > a {
    padding: 0 15px;
    padding: 0  2.700vw;
    color: #222222;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
}
@media only screen and (min-width: 1200px) {
    .footermenulinks{
        padding-left: 93px;
    }
}

.text-center {
    text-align: center;
}

.page-head__bg {
    display: block;
    position: relative;
    padding: 31px 0 46px;
    background-position: center;
    background-size: cover;
}


@media (min-width: 960px) {
    .customtemplate .uk-section-large {
        padding-top: 56px;
        padding-bottom: 30px;
    }
}

footer .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}